html,
body {
  padding: 0;
  margin: 0;
}

.main__button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 58px;
  height: 58px;
  border-radius: 29px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  background-color: rgb(8, 72, 192);
  animation-name: button-load;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  cursor: pointer;
}
@media (max-width: 410px) {
  .main__button {
    top: 15px;
    background: rgba(51, 51, 51, 0.4);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  }
}
@keyframes button-load {
  0% {
    opacity: 0;
    margin-bottom: -58px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0px;
  }
}
.main__button_icon {
  margin: 0 auto;
}
.main__button_icon-chat {
  background-image: url("./img/chat.svg");
  width: 24px;
  height: 30px;
  margin-top: 16px;
  animation-name: chat-icon-load;
  animation-duration: 0.5s;
}
@keyframes chat-icon-load {
  0% {
    margin-top: 60px;
  }
}
.main__button_icon-close {
  background-image: url("./img/hide.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-top: 20px;
  animation-name: close-icon-load;
  animation-fill-mode: none;
  animation-duration: 1s;
}
@keyframes close-icon-load {
  0% {
    transform: rotate(90deg);
    opacity: 0;
  }
}
.main__button_icon-close-hide {
  animation-name: close-icon-hide;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
@keyframes close-icon-hide {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
    opacity: 0;
  }
}
.main__chat {
  width: 380px;
  max-height: 622px;
  height: 80vh;
  position: fixed;
  bottom: 94px;
  right: 15px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(51, 51, 51, 0.2);
  border-top: 4px solid #0848c0;
  border-radius: 4px;
}
.main__chat.main__chat_hidden {
  display: none;
}
@media (max-width: 410px) {
  .main__chat {
    width: 100%;
    position: static;
    border: none;
    box-shadow: none;
    height: 100vh;
    max-height: none;
  }
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #333333;
}
.chat__messages {
  padding: 16px;
  overflow: auto;
}
.chat__messages::-webkit-scrollbar {
  width: 8px;
}
.chat__messages::-webkit-scrollbar-thumb {
  background: #cfcfcf;
}
@media (max-width: 410px) {
  .chat__messages::-webkit-scrollbar {
    width: 0;
  }
}
.chat__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  margin-bottom: 8px;
}
.chat__text {
  margin: 0;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #0c1014;
}
.chat__list {
  list-style-type: none;
  padding: 0;
}
.chat__list li {
  border: 1px solid #dee3e9;
  box-shadow: 0px 2px 4px rgba(44, 48, 52, 0.15);
  border-radius: 8px;
  height: 43px;
  margin-bottom: 8px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 45px;
  color: #0848c0;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.3s;
}
.chat__list li:hover {
  background-color: rgba(8, 72, 192, 0.12);
}
.chat__message {
  width: 236px;
  margin-bottom: 16px;
}
@media (max-width: 410px) {
  .chat__message {
    width: 80%;
  }
}
.chat__message.chat__message_client {
  margin-left: auto;
  background-color: rgba(8, 72, 192, 0.12);
}
.chat__input {
  width: auto;
  background: #ffffff;
  box-shadow: 0px 0px 1px 1px #d6dade;
  border-radius: 2px;
  margin-top: 42px;
  margin: 16px;
}
.chat__popup {
  background: #ffffff;
  box-shadow: 0px 0px 1px 1px #d6dade;
  border-radius: 2px;
  width: 200px;
  height: 150px;
  position: absolute;
  left: 16px;
  bottom: 70px;
}
.chat__popup.chat__popup_hidden {
  display: none;
}

.message {
  background: #f3f5f7;
  border-radius: 8px;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 9px;
  display: flex;
  align-items: flex-end;
}
.message__text {
  margin: 0px;
}
.message__text p {
  margin: 0px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}
.message__text p .link {
  color: #0000ee;
}
.message__date {
  width: 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #9ea4ac;
  align-items: center;
}

.input {
  display: flex;
  align-items: flex-end;
}
.input__smile {
  width: 36px;
  height: 48px;
  background: url(./img/smile.svg) no-repeat center center;
  cursor: pointer;
}
.input__textarea {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 18px;
  resize: none;
  border: none;
  flex-grow: 1;
}
.input__textarea::-webkit-scrollbar {
  width: 0;
}
.input__textarea:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.input__send {
  width: 36px;
  height: 48px;
  background: url(./img/send.svg) no-repeat center;
  cursor: pointer;
}
.input__send_hidden {
  display: none;
}

.popup {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-y: scroll;
  padding: 10px;
}
.popup::-webkit-scrollbar {
  width: 3px;
}
.popup::-webkit-scrollbar-thumb {
  background: #cfcfcf;
}
.popup__smile {
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.2s;
}
.popup__smile:hover {
  background-color: #f3f5f7;
}/*# sourceMappingURL=style.css.map */